:root{
    --color-background-light: #e2e1df;
    --color-background-light-alt: #cdd7ca;
    --color-background-dark-alt: #3c3a48;
    --color-background-dark: #24292c;

    --color-red: #d64d55;
    --color-red-dark: #970e16;
    --color-red-dark-alt: #972d34;
    --color-blue-light-alt: #87aeb5;
    --color-blue-light: #0b4374;
    --color-blue: #0b2b4b;
    --color-yellow: #eab244;
}