@import url(http://localhost:5500/build/css/variables.css);

@font-face {
    font-family: "Miso Bold";
    src: url("./fonts/miso-bold.ttf");
}

*{
    font-family: var(--font-family-base);
}

.no-space{
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--color-blue-dark);
}

/* MENU HEADER */
.menu{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--color-red-light);
    display: flex;
    align-items: center;
    height: var(--size-medium);
    font-size: var(--size-font-base);
}

.menu__item{
    padding: 0;
    margin-right: var(--size-space-medium);
    height: var(--size-medium);
}

.menu__item:hover {
    background-color: var(--color-red-dark-primary);
    border-bottom: var(--color-text-primary) solid 2px;
}

.menu__item:active{
    background-color: var(--color-red-dark-secondary);
}

.menu__link{
    display: block;
    color: var(--color-text-primary);
    padding: var(--size-space-medium) var(--size-space-x-small);

    text-decoration: none;
    font-size: var(--size-font-medium);
}

/* CONTEÚDO */
.container{
    margin-top: var(--size-space-x-large);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
    min-height: calc(100vh - var(--size-space-x-large));
}

.container__infobox{
    outline: var(--size-space-medium) solid var(--color-background-light-secondary);
    background-color: var(--color-background-light-primary);
    width: var(--size-width-container-medium);
    height: var(--size-height-container);
    padding: var(--size-space-medium);
    color: var(--color-text-secondary);
    margin: var(--size-space-xx-large) 0;
    font-size: var(--size-font-base);
}

.container__loginbox{
    display: flex;
    flex-direction: column;

    color: var(--color-text-primary);
    outline: var(--size-space-medium) solid var(--color-background-light-secondary);
    background-color: var(--color-blue-light-secondary);
    width: var(--size-width-container-small);
    height: var(--size-height-container);
    padding: var(--size-space-medium);
    margin: var(--size-space-xx-large) 0;
    font-size: var(--size-space-medium);
}

.container__input{
    width: 100%;
    height: var(--size-small);
    font-size: var(--size-font-9);
    border-radius: var(--size-radius-medium);
}

.container__formfield{
    margin-top: var(--size-space-medium);
}

.container__button{
    font-size: inherit;
    padding: var(--size-space-tiny) var(--size-space-medium);
    border-radius: var(--size-radius-medium);
    border: 0;
	background-color: var(--color-background-dark-secondary);
	cursor: pointer;
	color: inherit;
	text-shadow:0px -1px 0px var(--color-background-dark-primary);
}

.container__button:hover{
    background-color: var(--color-background-dark-primary);
    box-shadow: inset 0px 0px 1px 1px var(--color-blue-light-secondary);
}

.container__button:active{
    position:relative;
	top:1px;
}

/* FOOTER */
footer{
    width: 100%;
    height: var(--size-space-x-large);
    background-color: var(--color-red-light);
    font-size: var(--size-font-base);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-text-primary);
}
